:root {
    --radius: 10px;
}

.select-widget-wrapper {
    position: relative;
    user-select: none;
    width: 250px;
    border-radius: var(--radius);
}

.select-widget {
    padding: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: var(--radius);
}

.select-widget-trigger {
    padding: 10px;
    background: #fff;
    border-radius: var(--radius);
    border-color: #eee;
    border-width: 1px;
}

/* Список опций скрыт по умолчанию */
.select-widget-options {
    position: absolute;
    display: none;
    top: 100%;
    left: -1px;
    right: -1px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 10;
}

.select-widget.open {
    border-color: red;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
}

/* Когда селект открыт — показываем список */
.select-widget.open .select-widget-options {
    display: block;
}

.select-widget-option {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.select-widget-option:hover {
    background: #3498db;
    color: #fff;
}