:root {
    --radius: 10px;
}
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 250px;
    border-radius: var(--radius);
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    border-radius: var(--radius);
}

.custom-select-trigger {
    padding: 10px;
    background: #f9f9f9;
    border-radius: var(--radius);
}

/* Список опций скрыт по умолчанию */
.custom-options {
    position: absolute;
    display: none;
    top: 100%;
    left: -1px;
    right: -1px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 10;
}

/* Когда селект открыт — показываем список */
.custom-select.open .custom-options {
    display: block;
}

.custom-option {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.custom-option:hover {
    background: #3498db;
    color: #fff;
}
